{% extends 'layout.html' %}

{% block content %}

  <div class="row" style="font-size: 1.4em;">
    <p>
      Hunter
    </p>
    <hr>
  </div>
  <div class="row">
    <p>
      This service will listen to the firehose of tweets and, upon finding a tweet
      that matches a filter that you set, will follow, mute, and add the user to your
      Dodo list.
      <hr>
      Both of these services require you to register a <a href="https://apps.twitter.com/">Twitter application</a> and set
      the Twitter Consumer Key and Secret.
      <br>
      - <a href="https://github.com/lambtron/dodo-hunter-scan">hunter-scan</a>: finds matching tweets and adds user to MongoDB
      <br>
      - <a href="https://github.com/lambtron/dodo-hunter-follow">hunter-follow</a>: scheduled cron job to follow, mute, and add the user to your Dodo list
    </p>
    <hr>
  </div>

{% endblock %}
