{% extends 'layout.html' %}

{% block content %}
  <div class="row" style="font-size: 1.4em;">
    <p>
      Automatically unfollow Twitter users in a private Twitter list each month.
    </p>
    <hr>
  </div>
  <div class="row">
    <h4>Getting Started</h4>
    <p>
      1. Create a (private) <a href="https://support.twitter.com/articles/76460-using-twitter-lists">list</a> on Twitter with 'Dodo' in its title
      <br>
      2. Authorize your Twitter account below (so Dodo has permission!)
      <br>
      3. Follow and add Twitter users to your Dodo list
      <br>
      4. Every month, this app will automatically unfollow them for you
    </p>
    <hr>
  </div>
  <div class="row" style="margin-bottom: 10px;">
    <h4>Other uses</h4>
    <p>
      1. A <a href="https://github.com/defunkt/dotjs">~/.js script</a> that automatically adds and mutes accounts you follow to your Dodo list (script is <a href="https://github.com/lambtron/dotjs-scripts/blob/master/twitter.com.js">here</a>)
      <br>
      2. <a href="/trapper">Trapper</a>, a service that automatically follows back users who have followed you throughout the day (runs daily)
      <br>
      3. Our <a href="/docs">HTTP Dodo-API</a> that mutes and adds an account to your Dodo list
      <br>
      4. <a href="/hunter">Hunter</a>, a service that listens to the firehose of tweets and follows/mutes/adds to dodo list the tweeter
    </p>
    <hr>
  </div>
  <div class="row" style="margin-bottom: 60px;">
    <div id="signin" class="btn btn-primary center-block">
      Authorize your Twitter account!
    </div>
  </div>

<script type="text/javascript">
  $('#signin').click(function() {
    $.post('/api/oauth', function(data) {
      // console.log(data);
      var url = 'https://api.twitter.com/oauth/authenticate'
              + '?oauth_token=' + data;
      window.open(url, 'Sign into Twitter', 'height=500,width=600');
    })
  });
</script>

{% endblock %}
