{% extends 'layout.html' %}

{% block content %}
  <div class="row">
    <div class="well" style="margin: 80px 0px 40px 0px;">
      <h1>Dodo</h1>
    </div>
  </div>
  <div class="row" style="font-size: 1.4em;">
    <p>
      Periodically unfollow Twitter users in a private Twitter list.
    </p>
    <br>
  </div>
  <div class="row">
    <div id="signin" class="btn btn-primary">
      Sign in with Twitter
    </div>
  </div>

<script type="text/javascript">
  $('#signin').click(function() {
    $.post('/api/oauth', function(data) {
      // console.log(data);
      var url = 'https://api.twitter.com/oauth/authenticate'
              + '?oauth_token=' + data;
      window.open(url, 'Sign into Twitter', 'height=500,width=600');
    })
  });
</script>

{% endblock %}
