{% extends 'layout.html' %}

{% block content %}
  <div class="row">
    <div class="" style="text-align: center; width: 300px; margin: 0 auto;">
      <h2>Success!</h2>
      <br>
      <p>
        Dodo now has permission to unfollow accounts on your behalf. Make sure
        you've added a <a href="https://support.twitter.com/articles/76460-using-twitter-lists">Twitter list</a>
        with the word 'Dodo' in the title so you can start following and adding users to it!
      </p>
    </div>
  </div>
{% endblock %}
